.game-controller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid tomato;
    background-color: transparent;
    color: #dddddd;
    text-align: center;
    box-shadow: 0 2px 5px 1px black;
    z-index: 9;
}

.game-controller .button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

.button--img{
    width: 50px;
    height: 50px;
}

.p-abs{
    position: absolute;
}

.p-top-left{
    top: 0px;
    left: 10px;
}

.p-bottom-left{
    bottom: 20px;
    left: 10px;
}

.p-bottom-left .button--img{
    display: block;
    margin: 10px 5px;
}

.p-bottom-right{
    bottom: 20px;
    right: 20px;
}

.p-bottom-right .button--img{
    margin: 0px 5px;
}
