.obstacle-vehicle {
  position: absolute;
  transition: all 0.2s linear;
  animation: movingDown 10s linear;
  z-index: 4;
}

.obstacle-vehicle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.truck {
  width: 16%;
  height: 32%;
}

.miniTruck {
  width: 16%;
  height: 28%;
}

.dumper {
  width: 16%;
  height: 24%;
}

.van {
  width: 15%;
  height: 22%;
}

@keyframes movingDown {
  0% {
    top: -100%;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  100% {
    top: 135%;
  }
}
