.container {
  position: relative;
  max-width: 480px;
  max-height: 720px;
  min-width: 320px;
  min-height: 560px;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  margin: 0 auto;
  background: #50707b;
  box-sizing: border-box;
  overflow: hidden;
}

.road {
  height: 100%;
  background: url("images/background-road.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% auto;
  height: 100%;
  animation: roadMoving 500s linear infinite;
}

.animation-stopper * {
  animation-play-state: paused !important;
}

@keyframes roadMoving {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 0 10000px;
  }
}
